<link href="../static_media/css/ui-darkness/jquery-ui-1.8.1.custom.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../static_media/js/dojo/dojo.js" djConfig="parseOnLoad:true, isDebug: true"></script>
    
<script type="text/javascript">
dojo.require("dijit.form.Button");
dojo.require("dojox.charting.DataChart");
dojo.require("dojo.data.ItemFileReadStore");
</script>

<p> Simple example of doing charting based on time series</p>
<div id="mychart" style="width:600px;height:300px;"></div>     

<p id="hoverdata">Mouse hovers at
    (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>


<p>
      	<input id="button1" type="button" value="Get data">
          <a href='get_iface?in=qtr1-port-channel5-in&out=qtr1-port-channel5-out&event=http://ggf.org/ns/nmwg/characteristic/utilization/2.0'>data</a>
      	<span></span>
</p>

<p>
<input class="dataUpdate" type="button" value="Poll for data"> 
</p>


<script id="source" language="javascript" type="text/javascript"> 

function doPlot() {

	var query = {urn:'*'};

	var chartPrefs = {
		chartPlot:{type:dojox.charting.plot2d.Markers, tension: 3},
		scroll:true,
		displayRange:60,
		xaxis:{labelFunc: "seriesLabels"},
		yaxis:{max:2000, min:0, majorTickStep:200}
	}

	//var chart = new dojox.charting.DataChart("mychart", chartPrefs);
	
	var chart = new dojox.charting.Chart2D("mychart");
	chart.addPlot("default", {type: "Lines", markers: true, tension: 3});
	chart.addPlot("Grid", {type: "Grid",
		hAxis: "x",
		vAxis: "y",
		hMajorLines: true,
		hMinorLines: false,
		vMajorLines: false,
		vMinorLines: false});

	function getSeries() {

		function plotSeries(data) {
			chart.addAxis("y", {vertical: true});
			
			var xlabels = [];	

			for (var i=0; i<data[0].timestamps.length; i++) {
				xlabels[i] = {value: i+1, text: data[0].timestamps[i]}
			}

			chart.addAxis("x", {labels: xlabels});			

			chart.addSeries(data[0].urn, data[0].values, {stroke: "blue"});
			chart.addSeries(data[1].urn, data[1].values, {stroke: "green"});
			chart.render();
		}
	
		function onDataReceived(series) {
	
			var store = new dojo.data.ItemFileReadStore({data: series});
			//chart.setStore(store, query, "values");
			store.fetch({query: {urn:"*"}, onComplete: plotSeries, onError:function(err){console.error(err)}});
		}	

		var dataurl = "get_iface?in=qtr1-port-channel5-in&out=qtr1-port-channel5-out&event=http://ggf.org/ns/nmwg/characteristic/utilization/2.0";
		
		// get some data
		dojo.xhrGet({
    			url: dataurl,
    			handleAs:"json",
    			load: onDataReceived,
			error: function(err){console.error(err)}
		});
	}
	
	// get buttons
        button1 = dojo.byId('button1');
        dojo.connect(button1, 'onclick', getSeries);
}

dojo.addOnLoad(doPlot);
</script> 
