<h2 class="lead text-center">Schedule BLiPP Test</h2>

<div class="form-group">
  <button ng-click="toggleIperf()" ng-class="btnIperf" class="btn btn-default">Throughput Test</button>
  <button ng-click="togglePing()" ng-class="btnPing" class="btn btn-default">Ping Test</button>
  <!-- <button ng-click="toggleOWPing()" ng-class="btnOWPing" class="btn btn-default">OWPing Test</button> -->
  <button ng-click="toggleNetlogger()" ng-class="btnNetlogger" class="btn btn-default">Netlogger Probe</button>
  <button ng-click="toggleCustomProbe()" ng-class="btnCustomProbe" class="btn btn-default">Custom Probe</button>
</div>

<div ng-show="addPing" ng-include src="'views/partials/ping.html'"></div>
<!-- <div ng-show="addOWPing" ng-include src="'views/partials/owping.html'"></div> -->
<div ng-show="addIperf" ng-include src="'views/partials/iperf.html'"></div>
<div ng-show="addNetlogger" ng-include src="'views/partials/netlogger.html'"></div>
<div ng-show="addCustomProbe" ng-include src="'views/partials/custom_probe.html'"></div>
