<h2 class="lead text-center">Depots</h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <!-- <col span="1" style="width: 25%;"> -->
      <col span="1" style="width: 25%;">
    </colgroup>
    <tr>
      <th>Status</th>
      <th>Access Point</th>
      <!-- <th>Running On Node</th> -->
      <th>Timestamp</th>
    </tr>
    <tbody ng-repeat="service in services | unique:'id' | orderBy:'-ts'">
      <td>
        <button ng-show="service.status === 'ON'" class="btn btn-success disabled">ON</button>
        <button ng-show="service.status === undefined || service.status === 'OFF'" class="btn btn-danger disabled">OFF</button>
      </td>
      <td>{{ service.accessPoint }}</td>
      <!-- <td>{{ getServiceNode(service.accessPoint) }}</td> -->
      <td>{{ service.ts}}</td>
      <tr>
        <td colspan="2" ng-repeat="eventType in getServiceMeasurement(service.accessPoint)">{{eventType}}</td>
      </tr>
      <tr>
        <td colspan="2" ng-repeat="metadata in getServiceMetadata(service.accessPoint)"><button ng-click="showData(metadata)" class="btn btn-info">Show Graph</button></td>
      </tr>
    </tbody>
  </table>
</div>
