<h2 class="lead text-center">Schedule HELM Test</h2>

<directed-graph ports='ports' nodes="graphNodes" links="graphLinks"></directed-graph>

<p class="lead">Graph Nodes</p>
<p ng-repeat="node in graphNodes">{{node}}</p>
 <p ng-repeat="port in ports"><a href="#">Port {{port}} </a></p>      
<p class="lead">Graph Links</p>
{{graphLinks}}

<hr />

<div class="form-group">
  <button ng-click="toggleIperf()" ng-class="btnIperf" class="btn btn-default">Throughput Test</button>
  <button ng-click="togglePing()" ng-class="btnPing" class="btn btn-default">Ping Test</button>
</div>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<div ng-show="addPing" ng-include src="'views/partials/helm_ping.html'"></div>
<div ng-show="addIperf" ng-include src="'views/partials/helm_iperf.html'"></div>
<div id='my_custom_menu'>
	<ul class="rMenu dropdown-menu" role="menu">
	  <li ng-if="ports.length == 0"><a href="#">No Ports present</a></li>
      <li class='portSelectMenu' ng-mousedown='selectPort()' ng-repeat="port in ports" ><a data-id='{{selectedPortSourceId}}' onclick='alert()' href="#">Port {{port}} </a></li>      
    </ul>
 </div>