<h2 class="lead text-center">Schedule HELM Test</h2>
<div>
	<div class='allLinks col-md-4'>
		<p class="lead">Graph Links</p>
 		<div ng-repeat="Links in graphLinks">Start : {{Links[0]}} , End : {{ Links[1] }} , Port :
	 		<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    {{Links.ports[Links.selectedPort|| 0].portInfo.name}} - {{Links.ports[Links.selectedPort|| 0].portInfo.address.address}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li ng-repeat='port in Links.ports'><a ng-click='selectPortD(Links[0],Links[1])'>{{port.portInfo.name}} - {{port.portInfo.address.address}}</a></li>
			  </ul>
			</div>
 		 </div>
	</div>
	<div class='col-md-8'>
		<directed-graph ports='ports' nodes="graphNodes" links="graphLinks" selectedportmap="selectedPortMap"></directed-graph>
	</div>
</div>

<p class="lead">Graph Nodes</p>
<p ng-repeat="node in graphNodes">{{node}}</p>
<hr />

<div class="form-group">
  <button ng-click="toggleIperf()" ng-class="btnIperf" class="btn btn-default">Throughput Test</button>
  <button ng-click="togglePing()" ng-class="btnPing" class="btn btn-default">Ping Test</button>
</div>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<div ng-show="addPing" ng-include src="'views/partials/helm_ping.html'"></div>
<div ng-show="addIperf" ng-include src="'views/partials/helm_iperf.html'"></div>
<div id='my_custom_menu'>
	<ul class="rMenu dropdown-menu" role="menu">
	  <li ng-if="ports.length == 0"><a href="#">No Ports present</a></li>
      <li class='portSelectMenu' ng-mousedown='selectPort()' ng-repeat="port in ports" ><a data-id='{{selectedPortSourceId}}' href="#">Port {{port}} </a></li>      
    </ul>
 </div>