<h2 class="lead text-center">{{measurement.configuration.name}}</h2>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
      <col span="1" style="width: 25%;">
    </colgroup>
    <tr>
      <th>Event Type</th>
      <th>Measurement Data</th>
      <th>Node</th>
      <th>Timestamp</th>
    </tr>
    <tr ng-repeat="metadata in measurementMetadata">
      <td>{{ metadata.eventType }}</td>
      <td><button ng-click="showMetadataData(metadata.id)" class="btn btn-info">View Data</button></td>
      <td>{{ getMeasurementNode(metadata.subject.href) }}</td>
      <td>{{ metadata.ts / 1000 | date:'yyyy-MM-d (EEE) @ h:m:s.sss a Z'}}</td>
    </tr>
  </table>
</div>

<!-- <hr /> -->

<!-- <div class="form-group"> -->
  <!-- <button ng-click="toggleEdit()" ng-class="btnEdit" class="btn btn-default">Edit Measurement</button> -->
<!-- </div> -->

<!-- <div ng-show="addEdit" ng-include src="'views/partials/edit_measurement.html'"></div> -->
