<h2 class="lead text-center">Configured Metadata in UNIS</h2>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 20%;">
    </colgroup>
    <tr>
      <th>Event Type</th>
      <th>Measurement Data</th>
      <th>Measurement</th>
      <th>Node</th>
      <th>Timestamp</th>
    </tr>
    <tr ng-repeat="metadata in metadatas | unique:'id' | orderBy:'-ts'">
      <td>{{ metadata.eventType }}</td>
      <td><button ng-click="showMetadataData(metadata.id)" class="btn btn-info">View Data</button></td>
      <td><a href="/measurements/{{getMetadataMeasurementID(metadata.parameters.measurement.href)}}">{{ getMetadataMeasurement(metadata.parameters.measurement.href) }}</a></td>
      <td>{{ getMetadataNode(metadata.subject.href) }}</td>
      <td>{{ metadata.ts / 1000 | date:'yyyy-MM-d (EEE) @ h:m:s a Z'}}</td>
    </tr>
  </table>
</div>
