<h2 class="lead text-center">Configured Nodes in UNIS</h2>

<div ng-repeat="node in nodes | unique:'id'">
  <!-- <div class="table-responsive"> -->
    <table class="table table-hover table-condensed">
      <colgroup>
        <col span="1" style="width: 40%;">
        <col span="1" style="width: 40%;">
        <col span="1" style="width: 20%;">
      </colgroup>
      <tr>
        <td> {{ node.name }} </td>
        <td> <a ng-href="{{node.selfRef}}"> View Node in UNIS </a> </td>
        <td> {{ node.ts }} </td>
      </tr>
    </table>
  <!-- </div> -->
</div>
