<h2 class="lead text-center">Configured Nodes in UNIS</h2>

<div ng-repeat="node in nodes | unique:'id'">
  <!-- <div class="table-responsive"> -->
    <table class="table table-hover table-condensed">
      <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
      </colgroup>
      <tr>
        <td>{{ node.name }}</td>
        <td>{{ node.urn }}</td>
        <td><a ng-href="{{node.selfRef}}">UNIS Instance</a></td>
        <td>{{ node.ts | date:'yyyy-MM-d (EEE) @ h:m:s.sss a Z'}}</td>
        <!-- <td>{{ node.ts * 1000 | date:'yyyy-MM-d (EEE) @ h:m:s.sss a Z'}}</td> -->
      </tr>
    </table>
  <!-- </div> -->
</div>
