<h2 class="lead text-center">Configured Services in UNIS</h2>

<div ng-repeat="service in services | unique:'id'">
  <!-- <div class="table-responsive"> -->
    <table class="table table-hover table-condensed">
      <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
      </colgroup>
      <tr>
        <td> {{ service.name }} </td>
        <td> <button type="button" class="btn btn-success disabled"> {{ service.status }} </button> </td>
        <td> <a ng-href="{{service.selfRef}}"> View Service in UNIS </a> </td>
        <td> {{ service.serviceType }} </td>
        <td> <a ng-href="{{service.runningOn.href}}"> View Node in UNIS </a> </td>
        <td> {{ service.ts }} </td>
      </tr>
    </table>
  <!-- </div> -->
</div>
