<h2 class="lead text-center">Configured Services in UNIS</h2>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Running On Node</th>
      <th>Type</th>
      <th>Timestamp</th>
    </tr>
    <tr ng-repeat="service in services | filter: { type: '!ps:tools:ms'} | unique:'id' | orderBy:'-ts'">
      <td>{{ service.name }}</td>
      <td><button type="button" class="btn btn-info disabled"> {{ service.status }}</button></td>
      <td>{{ getServiceNode(service.runningOn.href) }}</td>
      <td>{{ service.serviceType }}</td>
      <td>{{ service.ts / 1000 | date:'yyyy-MM-d (EEE) @ h:m:s a Z'}}</td>
    </tr>
  </table>
</div>
