body {
  padding-top: 70px;
}

.navbar {
  font-size: 14px;
  background: #990000;
}

a.navbar-brand {
  color: #f5f4ec;
}

a.navbar-brand:hover {
  color: white;
}

a.header {
  color: #f5f4ec;
}

a.header:hover {
  color: #990000;
  background: #f5f4ec;
}

.footer {
  font-size: 10px;
  padding: 0px;
}
a.footer {
  color: #990000;
}
a.footer:hover {
  color: black;
}
li.left {
  float: left;
  text-align: left;
}
li.right {
  float: right;
  text-align: right;
}

.jumbotron {
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

/* graph styles */
svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 8px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 5px;
  cursor: pointer;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

#graphSelect{
  outline:black dotted thick;
  height: 400px;
  width: 400px;
  margin: 50px;
}

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.mainview-animation.ng-enter {
  -webkit-transition: .3s linear all;
  -moz-transition: .3s linear all;
  -o-transition: .3s linear all;
  transition: .3s linear all;
}

/**
 * Pre animation -> enter
 */
.mainview-animation.ng-enter {
  opacity: 0;
}

/**
 * Post animation -> enter
 */
.mainview-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
