body {
  padding-top: 70px;
}

.navbar {
  font-size: 14px;
  background: #990000;
}

a.navbar-brand {
  color: #f5f4ec;
}

a.navbar-brand:hover {
  color: white;
}

a.header {
  color: #f5f4ec;
}

a.header:hover {
  color: #990000;
  background: #f5f4ec;
}

.footer {
  font-size: 10px;
  padding: 0px;
}
a.footer {
  color: #990000;
}
a.footer:hover {
  color: black;
}
li.left {
  float: left;
  text-align: left;
}
li.right {
  float: right;
  text-align: right;
}

.jumbotron {
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.mainview-animation.ng-enter {
  -webkit-transition: .3s linear all; /* Safari/Chrome */
  -moz-transition: .3s linear all; /* Firefox */
  -o-transition: .3s linear all; /* Opera */
  transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.mainview-animation.ng-enter {
  /* The animation preparation code */
  opacity: 0;
}

/**
 * Post animation -> enter
 */
.mainview-animation.ng-enter.ng-enter-active {
  /* The animation code itself */
  opacity: 1;
}
