<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
  @import "/static_media/js/dojox/grid/resources/Grid.css";
  @import "/static_media/js/dojox/grid/resources/{{ theme }}Grid.css";
  @import "/static_media/js/dojox/layout/resources/FloatingPane.css";
  @import "/static_media/js/dojox/layout/resources/ResizeHandle.css";
  @import "/static_media/css/periscope.css";
  @import "/static_media/js/dojo/resources/dojo.css";
  @import "/static_media/js/dijit/themes/tundra/tundra.css";
</style>

<script type="text/javascript" src="/static_media/js/dojo/dojo.js" djConfig="parseOnLoad:true, isDebug: true"></script>
<script type="text/javascript" src="/static_media/js/dojox/gfx.js"></script>
<script type="text/javascript" src="/static_media/js/periscope/main.js"></script>
<script type="text/javascript" src="/static_media/js/periscope/escps.js"></script>

{% include "topology/js_template.html" %}

<script type="text/javascript">

createUNISTopoStore({{json_topology|safe}});

var gfxOpts = {
               width: 1100,
               height: 400,
               level: "domain",
               spring: "false",
               movePorts: "false"
              };

dojo.addOnLoad(function() { initGfx(gfxOpts) });
dojo.addOnLoad(drawWAN);
dojo.addOnLoad(initCircuitGrid);
dojo.addOnLoad(initBNLPerfometer);
dojo.addOnLoad(initUltralightPerfometer);

updateESCPSPerfometers;
var perf_t = new dojox.timing.Timer();
perf_t.setInterval(15000);
perf_t.onTick = updateESCPSPerfometers;
perf_t.start();

</script>
</head>

<body class="tundra">

<div style="width: 100%">
	<br>
  <div id="top-text">ESCP<font color="red">Scope</font> Monitoring v0.1alpha</div>
</div>

<div><p> </div>

<div id="mtable">
  <div id="row">
    <div id="col" style="width: 150; vertical-align: top; padding: 10px;">
      <div id="side-text">Site counters</div>
      <hr >
      BNL: <br />
       <div dojoType="dojox.widget.AnalogGauge" id='BNLPerfometer' width="140" height="90"
        cx="70" cy="80" radius="60" startAngle="-90" endAngle="90" useRangeStyles="0"
        hideValues="true" color: "white" majorTicks="{length: 5, offset: 30, interval: 25, color: 'gray'}"
        minorTicks="{length: 1, offset: 30, interval: 10, color: 'gray'}" background="{'color': 'white'}">
            <div dojoType="dojox.widget.gauge.Range" low="0" high="50" color="{'color': 'black'}">
            </div>
            <div dojoType="dojox.widget.gauge.Range" low="50" high="100" color="{'color': 'black'}">
            </div>
        </div>
        <br />
        Ultralight: <br />
        <div dojoType="dojox.widget.AnalogGauge" id='UltralightPerfometer' width="140" height="90"
        cx="70" cy="80" radius="60" startAngle="-90" endAngle="90" useRangeStyles="0"
        hideValues="true" color: "white" majorTicks="{length: 5, offset: 30, interval: 25, color: 'gray'}"
        minorTicks="{length: 1, offset: 30, interval: 10, color: 'gray'}"  background="{'color': 'white'}">
            <div dojoType="dojox.widget.gauge.Range" low="0" high="50" color="{'color': 'black'}">
            </div>
            <div dojoType="dojox.widget.gauge.Range" low="50" high="100" color="{'color': 'black'}">
            </div>
        </div>
        <div><p></div>
      <div id="side-text">Path counters</div>
      <hr >
      <br>
      <br>
    </div>
    <div id="col" style="width: 1080; text-align: center;">
      <div id="topo"></div>     
    </div>
  </div>
</div>

<div><p></div>

<div><p></div>
<span style="vertical-align: middle">
  <a href="javascript:delete_ESCPS_paths()">
    <img style="vertical-align:middle" width="30px" src="/static_media/images/del_x.png"></a>
  Delete selected paths</span>
<span style="vertical-align: middle">
  <a href="javascript:update_topology_locations()">
    <img style="vertical-align:middle" width="25px" src="/static_media/images/save.jpg"></a>
  Save topology locations</span>
<div id="gridContainer" style="width: 1255; height: 100%;"></div>

</body>
</html>
