<h2>Active Measurements</h2>

<div ng-controller="MeasurementController">
  <div ng-repeat="measurement in measurements">
    <dl class="lead">
      <dd> {{ measurement.configuration.name }} </dd>
      <dd> <a ng-href="{{measurement.selfRef}}"> UNIS Instance </a> </dd>
      <td><button ng-click="showDetails(measurement.id)" class="btn btn-info">Details</button></td>
      <dd> {{ measurement.ts | date:'yyyy-MM-d (EEE) @ h:m:s.sss a Z'}} </dd>
      <!-- <dd> {{ measurement.ts * 1000 | date:'yyyy-MM-d (EEE) @ h:m:s.sss a Z'}} </dd> -->
    </dl>
  </div>
</div>
