<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<p>A custom probe is a user specified measurement designed to be run by BLiPP. This probe will need to conform to our measurement schema so that the measurement can be recognized and run by BLiPP. The schema must also be able to validate against the JSON v4 specifications. We recommend modifying our schema to fit your experiment. A few default elements are required for measurement scheduling.
</p>
<p>For example, copy the measurement schema, paste into the textarea and click generate form, fill in the form values to your specification, and then submit the measurement.
</p>
<pre>
{
  "$schema": "http://json-schema.org/draft-03/hyper-schema#",
  "id": "http://unis.incntre.iu.edu/schema/20140214/measurement#",
  "description": "A measurement object",
  "name": "Measurement",
  "type": "object",
  "extends": {
    "$ref": "http://unis.incntre.iu.edu/schema/20140214/networkresource#"
  },
  "properties": {
    "service": {
      "type": "string",
      "format": "uri",
      "description": "Service which will be taking this measurement"
    },
    "configuration": {
      "type": "object",
      "properties": {
        "$schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "additionalProperties": true
    },
    "scheduled_times": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["start", "end"]
      }
    },
    "eventTypes": {
      "description": "A list of eventTypes which this measurement produces",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "resources": {
      "description": "A list of resources that this measurement uses or affects",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "ref": {
            "description": "Hyperlink reference to the resource",
            "format": "uri",
            "type": "string"
          },
          "usage": {
            "type": "object",
            "description": "A resource has different ways it can be used, this tells in what ways this measurement uses this resource",
            "additionalProperties": {
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        },
        "required": ["ref"]
      }
    }
  },
  "required": [
    "service",
    "configuration",
    "eventTypes"
  ],
  "additionalProperties": true
}
</pre>

<form name="userSchemaForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : userSchemaForm.uCF.$invalid && !userSchemaForm.uCF.$pristine }">
    <div class="col-md-10">
      <textarea ng-model="userSchema" rows="15" name="uCF" type="text" class="form-control" id="userForm" placeholder="Paste Schema Here" required></textarea>
      <p ng-show="userSchemaForm.uCF.$invalid && !userSchemaForm.uCF.$pristine" class="help-block">Please paste a schema to continue</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-10">
      <button ng-click="userSchemaSubmit(userSchema)" ng-disabled="userSchemaForm.$invalid || userSchemaUnchanged(userSchema)" class="btn btn-primary">Generate Form</button>
      <button ng-click="userSchemaReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>

<!-- <pre>User Schema {{userSchema}}</pre> -->

<hr />

<!-- <pre>Form Schema {{schema}}</pre> -->
<div class="form-group row" ng-class="{ 'has-error' : pingForm.pFrom.$invalid && !pingForm.pFrom.$pristine }">
  <label for="pingFrom" class="col-md-2 control-label">Source</label>
  <div class="col-md-10">
    <select ng-model="model.source" name="pFrom" id="pingFrom" class="form-control" required>
      <option ng-repeat="node in nodes | unique:'id'">{{ node.name }} {{ node.selfRef }}</option>
      <!-- <option ng-repeat="node in nodes | unique:'id' | filterNodes(node)">{{ node.name }} {{ node.selfRef }}</option> -->
    </select>
    <p ng-show="pingForm.pFrom.$invalid && !pingForm.pFrom.$pristine" class="help-block">Please select a node</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : pingForm.pDesc.$invalid && !pingForm.pDesc.$pristine }">
  <label for="pingDescription" class="col-md-2 control-label">Description</label>
  <div class="col-md-10">
      <input ng-model="model.desc" name="pDesc" type="text" class="form-control" id="pingDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
      <p ng-show="pingForm.pDesc.$invalid && !pingForm.pDesc.$pristine" class="help-block">Please describe test</p>
      <p ng-show="pingForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
      <p ng-show="pingForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : pingForm.pNT.$invalid && !pingForm.pNT.$pristine }">
  <label for="pingNT" class="col-md-2 control-label">Number of Tests</label>
  <div class="col-md-10">
    <input ng-model="model.num_tests" name="pNT" type="text" class="form-control" id="pingNT" placeholder="Integer Value" required>
    <p ng-show="pingForm.pNT.$invalid && !pingForm.pNT.$pristine" class="help-block">Please enter a value for time</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : pingForm.pTBT.$invalid && !pingForm.pTBT.$pristine }">
  <label for="pingTBT" class="col-md-2 control-label">Time Between Tests</label>
  <div class="col-md-5">
    <input ng-model="model.tbtValue" name="pTBT" type="text" class="form-control" id="pingTBT" placeholder="Integer Value" required>
    <p ng-show="pingForm.pTBT.$invalid && !pingForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
  </div>
  <div class="col-md-5">
    <select ng-model="model.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
  </div>
</div>

<!-- <div class="form-group row" ng-class="{ 'has-error' : pingForm.pReportMS.$invalid && !pingForm.pReportMS.$pristine }"> -->
  <!-- <label for="pingReportMS" class="col-md-2 control-label">Report to MS Every</label> -->
  <!-- <div class="col-md-10"> -->
    <!-- <input ng-model="ping.reportMS" name="pReportMS" type="text" class="form-control" id="pingReportMS" placeholder="Report to MS Every (collections)" required> -->
    <!-- <p ng-show="pingForm.pReportMS.$invalid && !pingForm.pReportMS.$pristine" class="help-block">Please enter a report value</p> -->
  <!-- </div> -->
<!-- </div> -->

<form sf-schema="schema" sf-form="form" sf-model="model" ng-submit="schemaSubmit()"></form>
