<!-- <pre>measForm = {{measDetails | json}}</pre> -->
<!-- <pre>measData = {{measData | json}}</pre> -->

<!-- <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> -->
  <!-- <b>{{alert.msg}}</b> -->
<!-- </alert> -->

<form name="measForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : measForm.mName.$invalid && !measForm.mName.$pristine }">
    <label for="measName" class="col-md-2 control-label">Name</label>
    <div class="col-md-10">
      <input ng-model="measDetails.configuration.name" name="mName" type="text" class="form-control" id="measName" ng-minlength="3" ng-maxlength="30" required>
      <p ng-show="measForm.mName.$invalid && !measForm.mName.$pristine" class="help-block">Please name measurement</p>
      <p ng-show="measForm.mName.$error.minlength" class="help-block">Name must be at least 3 characters</p>
      <p ng-show="measForm.mName.$error.maxlength" class="help-block">Name cannot exceed 30 characters</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : measForm.mReportMS.$invalid && !measForm.mReportMS.$pristine }">
    <label for="measReportMS" class="col-md-2 control-label">Report to MS Every</label>
    <div class="col-md-10">
      <input ng-model="measDetails.configuration.reporting_params" name="mReportMS" type="text" class="form-control" id="measReportMS" placeholder="Report to MS Every (collections)" required>
      <p ng-show="measForm.mReportMS.$invalid && !measForm.mReportMS.$pristine" class="help-block">Please enter a report collection value</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : measForm.mCS.$invalid && !measForm.mCS.$pristine }">
    <label for="measCollectionSize" class="col-md-2 control-label">Collection Size</label>
    <div class="col-md-10">
      <input ng-model="measDetails.configuration.collection_size" name="mCS" type="text" class="form-control" id="measCollectionSize" placeholder="Size of Test Packets (in bytes)" required>
      <p ng-show="measForm.mCS.$invalid && !measForm.mCS.$pristine" class="help-block">Please enter a collection size</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : measForm.mTBT.$invalid && !measForm.mTBT.$pristine }">
    <label for="measTBT" class="col-md-2 control-label">Schedule Every</label>
    <div class="col-md-10">
      <input ng-model="measDetails.configuration.schedule_params.every" name="mTBT" type="text" class="form-control" id="measTBT" placeholder="Integer Value" required>
      <p ng-show="measForm.mTBT.$invalid && !measForm.mTBT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
    <!-- <div class="col-md-5"> -->
      <!-- <select ng-model="measDetails.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select> -->
    <!-- </div> -->
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="measPUT(measDetails)" ng-disabled="measForm.$invalid" class="btn btn-primary">Submit Changes</button>
      <button ng-click="measDELETE(measDetails)" ng-disabled="measOFF()" class="btn btn-danger pull-right">Delete Measurement</button>
    </div>
  </div>

</form>
