<!-- <pre>helmIperfForm = {{helmIperf | json}}</pre> -->
<!-- <pre>helmIperfData = {{helmIperfData | json}}</pre> -->

<form name="helmIperfForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pDesc.$invalid && !helmIperfForm.pDesc.$pristine }">
    <label for="perfDescription" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
        <input ng-model="helmIperf.desc" name="pDesc" type="text" class="form-control" id="perfDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
        <p ng-show="helmIperfForm.pDesc.$invalid && !helmIperfForm.pDesc.$pristine" class="help-block">Please describe test</p>
        <p ng-show="helmIperfForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
        <p ng-show="helmIperfForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pNT.$invalid && !helmIperfForm.pNT.$pristine }">
    <label for="perfNT" class="col-md-2 control-label">Number of Tests</label>
    <div class="col-md-5">
      <input ng-model="helmIperf.num_tests" name="pNT" type="text" class="form-control" id="perfNT" placeholder="Integer Value" required>
      <p ng-show="helmIperfForm.pNT.$invalid && !helmIperfForm.pNT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pTBT.$invalid && !helmIperfForm.pTBT.$pristine }">
    <label for="perfTBT" class="col-md-2 control-label">Time Between Tests</label>
    <div class="col-md-5">
      <input ng-model="helmIperf.tbtValue" name="pTBT" type="text" class="form-control" id="perfTBT" placeholder="Integer Value" required>
      <p ng-show="helmIperfForm.pTBT.$invalid && !helmIperfForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
    <div class="col-md-5">
      <select ng-model="helmIperf.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pTD.$invalid && !helmIperfForm.pTD.$pristine }">
    <label for="perfTD" class="col-md-2 control-label">Test Duration</label>
    <div class="col-md-10">
      <input ng-model="helmIperf.td" name="pTD" type="text" class="form-control" id="perfTD" placeholder="Test Duration (in seconds)" required>
      <p ng-show="helmIperfForm.pTD.$invalid && !helmIperfForm.pTD.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pBT.$invalid && !helmIperfForm.pBT.$pristine }">
    <label for="perfBT" class="col-md-2 control-label">Bandwidth Tester</label>
    <div class="col-md-10">
      <select ng-model="helmIperf.bt" ng-options="bandTester.type for bandTester in bandTesters" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmIperfForm.pProto.$invalid && !helmIperfForm.pProto.$pristine }">
    <label for="perfProto" class="col-md-2 control-label">Protocol</label>
    <div class="col-md-10">
      <select ng-model="helmIperf.proto" ng-options="proto.type for proto in protos" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="helmSubmit(helmIperf)" ng-disabled="helmIperfForm.$invalid || helmIperfUnchanged(helmIperf)" class="btn btn-primary">Submit Throughput Test</button>
      <button ng-click="helmReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
