<!-- <pre>helmPingForm = {{helmPing | json}}</pre> -->
<!-- <pre>helmPingData = {{helmPingData | json}}</pre> -->

<form name="helmPingForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pDesc.$invalid && !helmPingForm.pDesc.$pristine }">
    <label for="pingDescription" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
        <input ng-model="helmPing.desc" name="pDesc" type="text" class="form-control" id="pingDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
        <p ng-show="helmPingForm.pDesc.$invalid && !helmPingForm.pDesc.$pristine" class="help-block">Please describe test</p>
        <p ng-show="helmPingForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
        <p ng-show="helmPingForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pNT.$invalid && !helmPingForm.pNT.$pristine }">
    <label for="pingNT" class="col-md-2 control-label">Number of Tests</label>
    <div class="col-md-5">
      <input ng-model="helmPing.num_tests" name="pNT" type="text" class="form-control" id="pingNT" placeholder="Integer Value" required>
      <p ng-show="helmPingForm.pNT.$invalid && !helmPingForm.pNT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pTBT.$invalid && !helmPingForm.pTBT.$pristine }">
    <label for="pingTBT" class="col-md-2 control-label">Time Between Tests</label>
    <div class="col-md-5">
      <input ng-model="helmPing.tbtValue" name="pTBT" type="text" class="form-control" id="pingTBT" placeholder="Integer Value" required>
      <p ng-show="helmPingForm.pTBT.$invalid && !helmPingForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
    <div class="col-md-5">
      <select ng-model="helmPing.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row">
    <label for="pingPacketsSent" class="col-md-2 control-label">Packets Sent Per Test</label>
    <div class="col-md-10">
      <input ng-model="helmPing.packetsSent" name="pPacketsSent" type="text" class="form-control" id="pingPacketsSent" disabled>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pTBP.$invalid && !helmPingForm.pTBP.$pristine }">
    <label for="pingTBP" class="col-md-2 control-label">Time Between Packets</label>
    <div class="col-md-10">
      <input ng-model="helmPing.tbp" name="pTBP" type="text" class="form-control" id="pingTBP" placeholder="Time Between Packets (in seconds)" required>
      <p ng-show="helmPingForm.pTBP.$invalid && !helmPingForm.pTBP.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pPS.$invalid && !helmPingForm.pPS.$pristine }">
    <label for="pingPacketSize" class="col-md-2 control-label">Size of Test Packets</label>
    <div class="col-md-10">
      <input ng-model="helmPing.packetSize" name="pPS" type="text" class="form-control" id="pingPacketSize" placeholder="Size of Test Packets (in bytes)" required>
      <p ng-show="helmPingForm.pPS.$invalid && !helmPingForm.pPS.$pristine" class="help-block">Please enter a packet size</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : helmPingForm.pReportMS.$invalid && !helmPingForm.pReportMS.$pristine }">
    <label for="pingReportMS" class="col-md-2 control-label">Report to MS Every</label>
    <div class="col-md-10">
      <input ng-model="helmPing.reportMS" name="pReportMS" type="text" class="form-control" id="pingReportMS" placeholder="Report to MS Every (collections)" required>
      <p ng-show="helmPingForm.pReportMS.$invalid && !helmPingForm.pReportMS.$pristine" class="help-block">Please enter a report value</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="helmSubmit(helmPing)" ng-disabled="helmPingForm.$invalid || helmPingUnchanged(helmPing)" class="btn btn-primary">Submit Ping Test</button>
      <button ng-click="helmReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
