<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pDesc.$invalid && !helmFullForm.pDesc.$pristine }">
  <label for="perfDescription" class="col-md-2 control-label">Description</label>
  <div class="col-md-10">
      <input ng-model="helmFull.desc" name="pDesc" type="text" class="form-control" id="perfDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
      <p ng-show="helmFullForm.pDesc.$invalid && !helmFullForm.pDesc.$pristine" class="help-block">Please describe test</p>
      <p ng-show="helmFullForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
      <p ng-show="helmFullForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pTBT.$invalid && !helmFullForm.pTBT.$pristine }">
  <label for="perfTBT" class="col-md-2 control-label">Time Between Tests</label>
  <div class="col-md-5">
    <input ng-model="helmFull.tbtValue" name="pTBT" type="text" class="form-control" id="perfTBT" placeholder="Integer Value" required>
    <p ng-show="helmFullForm.pTBT.$invalid && !helmFullForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
  </div>
  <div class="col-md-5">
    <select ng-model="helmFull.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pTD.$invalid && !helmFullForm.pTD.$pristine }">
  <label for="perfTD" class="col-md-2 control-label">Test Duration</label>
  <div class="col-md-10">
    <input ng-model="helmFull.td" name="pTD" type="text" class="form-control" id="perfTD" placeholder="Test Duration (in seconds)" required>
    <p ng-show="helmFullForm.pTD.$invalid && !helmFullForm.pTD.$pristine" class="help-block">Please enter a value for time</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pBT.$invalid && !helmFullForm.pBT.$pristine }">
  <label for="perfBT" class="col-md-2 control-label">Bandwidth Tester</label>
  <div class="col-md-10">
    <select ng-model="helmFull.bt" ng-options="bandTester.type for bandTester in bandTesters" class="form-control" required></select>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pProto.$invalid && !helmFullForm.pProto.$pristine }">
  <label for="perfProto" class="col-md-2 control-label">Protocol</label>
  <div class="col-md-10">
    <select ng-model="helmFull.proto" ng-options="proto.type for proto in protos" class="form-control" required></select>
  </div>
</div>

<div class="form-group row">
  <label for="iperfAutotuning" class="col-md-2 control-label">Use Autotuning</label>
  <div class="col-md-10">
    <input type="checkbox" id="iperfAutotuning" value="iperfAutotuningOption">
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmFullForm.pTH.$invalid && !helmFullForm.pTH.$pristine }">
  <label for="perfTH" class="col-md-2 control-label">Target Host</label>
  <div class="col-md-10">
    <input ng-model="helmFull.th" name="pTH" type="text" class="form-control" id="perfTH" placeholder="Target Host" required>
    <p ng-show="helmFullForm.pTH.$invalid && !helmFullForm.pTH.$pristine" class="help-block">Please enter a target host</p>
  </div>
</div>
