<div class="form-group">
  <button ng-click="toggleIperf()" ng-class="btnIperf" class="btn btn-default">Throughput Test</button>
  <button ng-click="togglePing()" ng-class="btnPing" class="btn btn-default">Ping Test</button>
</div>

<pre>helmPartialForm = {{helmPartial | json}}</pre>
<pre>helmPartialData = {{helmPartialData | json}}</pre>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<form name="helmPartialForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.hNodes.$invalid && !helmPartialForm.hNodes.$pristine }">
    <label for="helmFullNodes" class="col-md-2 control-label">Select Nodes</label>
    <div class="col-md-10">
      <select ng-model="helmPartial.nodes" name="hNodes" id="helmFullNodes" class="form-control" required>
        <option ng-repeat="node in nodes | unique:'id'">{{ node.name }} {{ node.selfRef }}</option>
      </select>
      <p ng-show="helmPartialForm.hNodes.$invalid && !helmPartialForm.hNodes.$pristine" class="help-block">Please select a node</p>
    </div>
  </div>

  <!-- <div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.hEvery.$invalid && !helmPartialForm.hEvery.$pristine }"> -->
    <!-- <label for="helmEvery" class="col-md-2 control-label">Schedule Every</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="helmPartial.every" name="hEvery" type="text" class="form-control" id="helmEvery" required> -->
      <!-- <p ng-show="helmPartialForm.hEvery.$invalid && !helmPartialForm.hEvery.$pristine" class="help-block">Please enter a value</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.hDuration.$invalid && !helmPartialForm.hDuration.$pristine }"> -->
    <!-- <label for="helmDuration" class="col-md-2 control-label">Schedule Duration</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="helmPartial.duration" name="hDuration" type="text" class="form-control" id="helmDuration" required> -->
      <!-- <p ng-show="helmPartialForm.hDuration.$invalid && !helmPartialForm.hDuration.$pristine" class="help-block">Please enter a value</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.hNum.$invalid && !helmPartialForm.hNum.$pristine }"> -->
    <!-- <label for="helmNum" class="col-md-2 control-label">Number of Tests</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="helmPartial.num" name="hNum" type="text" class="form-control" id="helmNum" required> -->
      <!-- <p ng-show="helmPartialForm.hNum.$invalid && !helmPartialForm.hNum.$pristine" class="help-block">Please enter a value</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <div ng-show="addPing" ng-include src="'views/partials/helm_partial_ping.html'"></div>
  <div ng-show="addIperf" ng-include src="'views/partials/helm_partial_iperf.html'"></div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="helmPartialSubmit(helmPartial)" class="btn btn-primary">Submit HELM Test</button>
      <button ng-click="helmReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
