<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pDesc.$invalid && !helmPartialForm.pDesc.$pristine }">
  <label for="perfDescription" class="col-md-2 control-label">Description</label>
  <div class="col-md-10">
      <input ng-model="helmPartial.desc" name="pDesc" type="text" class="form-control" id="perfDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
      <p ng-show="helmPartialForm.pDesc.$invalid && !helmPartialForm.pDesc.$pristine" class="help-block">Please describe test</p>
      <p ng-show="helmPartialForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
      <p ng-show="helmPartialForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pTBT.$invalid && !helmPartialForm.pTBT.$pristine }">
  <label for="perfTBT" class="col-md-2 control-label">Time Between Tests</label>
  <div class="col-md-5">
    <input ng-model="helmPartial.tbtValue" name="pTBT" type="text" class="form-control" id="perfTBT" placeholder="Integer Value" required>
    <p ng-show="helmPartialForm.pTBT.$invalid && !helmPartialForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
  </div>
  <div class="col-md-5">
    <select ng-model="helmPartial.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pTD.$invalid && !helmPartialForm.pTD.$pristine }">
  <label for="perfTD" class="col-md-2 control-label">Test Duration</label>
  <div class="col-md-10">
    <input ng-model="helmPartial.td" name="pTD" type="text" class="form-control" id="perfTD" placeholder="Test Duration (in seconds)" required>
    <p ng-show="helmPartialForm.pTD.$invalid && !helmPartialForm.pTD.$pristine" class="help-block">Please enter a value for time</p>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pBT.$invalid && !helmPartialForm.pBT.$pristine }">
  <label for="perfBT" class="col-md-2 control-label">Bandwidth Tester</label>
  <div class="col-md-10">
    <select ng-model="helmPartial.bt" ng-options="bandTester.type for bandTester in bandTesters" class="form-control" required></select>
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pProto.$invalid && !helmPartialForm.pProto.$pristine }">
  <label for="perfProto" class="col-md-2 control-label">Protocol</label>
  <div class="col-md-10">
    <select ng-model="helmPartial.proto" ng-options="proto.type for proto in protos" class="form-control" required></select>
  </div>
</div>

<div class="form-group row">
  <label for="iperfAutotuning" class="col-md-2 control-label">Use Autotuning</label>
  <div class="col-md-10">
    <input type="checkbox" id="iperfAutotuning" value="iperfAutotuningOption">
  </div>
</div>

<div class="form-group row" ng-class="{ 'has-error' : helmPartialForm.pTH.$invalid && !helmPartialForm.pTH.$pristine }">
  <label for="perfTH" class="col-md-2 control-label">Target Host</label>
  <div class="col-md-10">
    <input ng-model="helmPartial.th" name="pTH" type="text" class="form-control" id="perfTH" placeholder="Target Host" required>
    <p ng-show="helmPartialForm.pTH.$invalid && !helmPartialForm.pTH.$pristine" class="help-block">Please enter a target host</p>
  </div>
</div>
