<!-- <pre>perfForm = {{perf | json}}</pre> -->
<!-- <pre>perfData = {{perfData | json}}</pre> -->

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<form name="perfForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pFrom.$invalid && !perfForm.pFrom.$pristine }">
    <label for="perfFrom" class="col-md-2 control-label">Source</label>
    <div class="col-md-10">
      <select ng-model="perf.from" name="pFrom" id="perfFrom" class="form-control" required>
        <option ng-repeat="node in nodes  | unique:'id'">{{ node.name }} {{ node.selfRef }}</option>
      </select>
      <p ng-show="perfForm.pFrom.$invalid && !perfForm.pFrom.$pristine" class="help-block">Please select a node</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pDesc.$invalid && !perfForm.pDesc.$pristine }">
    <label for="perfDescription" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
        <input ng-model="perf.desc" name="pDesc" type="text" class="form-control" id="perfDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
        <p ng-show="perfForm.pDesc.$invalid && !perfForm.pDesc.$pristine" class="help-block">Please describe test</p>
        <p ng-show="perfForm.pDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
        <p ng-show="perfForm.pDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pNT.$invalid && !perfForm.pNT.$pristine }">
    <label for="perfNT" class="col-md-2 control-label">Number of Tests</label>
    <div class="col-md-10">
      <input ng-model="perf.num_tests" name="pNT" type="text" class="form-control" id="perfNT" placeholder="Integer Value" required>
      <p ng-show="perfForm.pNT.$invalid && !perfForm.pNT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pTBT.$invalid && !perfForm.pTBT.$pristine }">
    <label for="perfTBT" class="col-md-2 control-label">Time Between Tests</label>
    <div class="col-md-5">
      <input ng-model="perf.tbtValue" name="pTBT" type="text" class="form-control" id="perfTBT" placeholder="Integer Value" required>
      <p ng-show="perfForm.pTBT.$invalid && !perfForm.pTBT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
    <div class="col-md-5">
      <select ng-model="perf.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pTD.$invalid && !perfForm.pTD.$pristine }">
    <label for="perfTD" class="col-md-2 control-label">Test Duration</label>
    <div class="col-md-10">
      <input ng-model="perf.td" name="pTD" type="text" class="form-control" id="perfTD" placeholder="Test Duration (in seconds)" required>
      <p ng-show="perfForm.pTD.$invalid && !perfForm.pTD.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pBT.$invalid && !perfForm.pBT.$pristine }">
    <label for="perfBT" class="col-md-2 control-label">Bandwidth Tester</label>
    <div class="col-md-10">
      <select ng-model="perf.bt" ng-options="bandTester.type for bandTester in bandTesters" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pProto.$invalid && !perfForm.pProto.$pristine }">
    <label for="perfProto" class="col-md-2 control-label">Protocol</label>
    <div class="col-md-10">
      <select ng-model="perf.proto" ng-options="proto.type for proto in protos" class="form-control" required></select>
    </div>
  </div>

  <!-- <div class="form-group row"> -->
    <!-- <label for="iperfAutotuning" class="col-md-2 control-label">Use Autotuning</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input type="checkbox" id="iperfAutotuning" value="iperfAutotuningOption"> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : perfForm.pTH.$invalid && !perfForm.pTH.$pristine }"> -->
    <!-- <label for="perfTH" class="col-md-2 control-label">Target Host</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="perf.th" name="pTH" type="text" class="form-control" id="perfTH" placeholder="Target Host" required> -->
      <!-- <p ng-show="perfForm.pTH.$invalid && !perfForm.pTH.$pristine" class="help-block">Please enter a target host</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="form-group row" ng-class="{ 'has-error' : perfForm.pTo.$invalid && !perfForm.pTo.$pristine }">
    <label for="perfTo" class="col-md-2 control-label">Destination</label>
    <div class="col-md-10">
      <select ng-model="perf.to" name="pTo" id="perfTo" class="form-control" required>
        <option ng-repeat="node in nodes  | unique:'id'">{{ node.name }} {{ node.selfRef }}</option>
      </select>
      <p ng-show="perfForm.pTo.$invalid && !perfForm.pTo.$pristine" class="help-block">Please select a destination</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="perfSubmit(perf)" ng-disabled="perfForm.$invalid || perfUnchanged(perf)" class="btn btn-primary">Submit Throughput Test</button>
      <button ng-click="perfReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
