<!-- <pre>netlogForm = {{netlog | json}}</pre> -->
<!-- <pre>netlogData = {{netlogData | json}}</pre> -->

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<form name="netlogForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.nFrom.$invalid && !netlogForm.nFrom.$pristine }">
    <label for="netlogFrom" class="col-md-2 control-label">Source</label>
    <div class="col-md-10">
      <select ng-model="netlog.from" name="nFrom" id="netlogFrom" class="form-control" required>
        <option ng-repeat="node in nodes | unique:'id'">{{ node.name }} {{ node.selfRef }}</option>
      </select>
      <p ng-show="netlogForm.nFrom.$invalid && !netlogForm.nFrom.$pristine" class="help-block">Please select a node</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.nDesc.$invalid && !netlogForm.nDesc.$pristine }">
    <label for="netlogDescription" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
        <input ng-model="netlog.desc" name="nDesc" type="text" class="form-control" id="netlogDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
        <p ng-show="netlogForm.nDesc.$invalid && !netlogForm.nDesc.$pristine" class="help-block">Please describe test</p>
        <p ng-show="netlogForm.nDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
        <p ng-show="netlogForm.nDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.pNT.$invalid && !netlogForm.pNT.$pristine }">
    <label for="netlogNT" class="col-md-2 control-label">Number of Tests</label>
    <div class="col-md-10">
      <input ng-model="netlog.num_tests" name="pNT" type="text" class="form-control" id="netlogNT" placeholder="Integer Value" required>
      <p ng-show="netlogForm.pNT.$invalid && !netlogForm.pNT.$pristine" class="help-block">Please enter a value for time</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.nTBR.$invalid && !pingForm.nTBR.$pristine }">
    <label for="netlogTBR" class="col-md-2 control-label">Time Between Reads</label>
    <div class="col-md-5">
      <input ng-model="netlog.tbrValue" name="nTBR" type="text" class="form-control" id="netlogTBR" placeholder="Integer Value" required>
      <p ng-show="netlogForm.nTBR.$invalid && !netlogForm.nTBR.$pristine" class="help-block">Please enter a value for time</p>
    </div>
    <div class="col-md-5">
      <select ng-model="netlog.tbrType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.nFile.$invalid && !netlogForm.nFile.$pristine }">
    <label for="netlogFile" class="col-md-2 control-label">NetLogger File</label>
    <div class="col-md-10">
      <input ng-model="netlog.file" name="nFile" type="text" class="form-control" id="netlogFile" placeholder="Netlogger File" required>
      <p ng-show="netlogForm.nFile.$invalid && !netlogForm.nFile.$pristine" class="help-block">Please enter a netlogger file</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : netlogForm.nReportMS.$invalid && !netlogForm.nReportMS.$pristine }">
    <label for="netlogReportMS" class="col-md-2 control-label">Report to MS Every</label>
    <div class="col-md-10">
      <input ng-model="netlog.reportMS" name="nReportMS" type="text" class="form-control" id="netlogReportMS" placeholder="Report to MS Every (collections)" required>
      <p ng-show="netlogForm.nReportMS.$invalid && !netlogForm.nReportMS.$pristine" class="help-block">Please enter a report value</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="netlogSubmit(netlog)" ng-disabled="netlogForm.$invalid || netlogUnchanged(netlog)" class="btn btn-primary">Submit NetLogger Probe</button>
      <button ng-click="netlogReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
