<pre>owpForm = {{owp | json}}</pre>
<pre>owpData = {{owpData | json}}</pre>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
  <br />
  <a ng-href="/measurements">View measurements here</a>
</alert>

<form name="owpForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : owpForm.owpFrom.$invalid && !owpForm.owpFrom.$pristine }">
    <label for="owpFrom" class="col-md-2 control-label">Select a Node</label>
    <div class="col-md-10">
      <select ng-model="owp.from" name="owpFrom" id="owpFrom" class="form-control" required>
        <option ng-repeat="node in nodes | unique:'id'"> {{ node.name }} </option>
      </select>
      <p ng-show="owpForm.owpFrom.$invalid && !owpForm.owpFrom.$pristine" class="help-block">Please select a node</p>
    </div>
  </div>

  <div class="form-group row" ng-class="{ 'has-error' : owpForm.owpDesc.$invalid && !owpForm.owpDesc.$pristine }">
    <label for="owpDescription" class="col-md-2 control-label">Description</label>
    <div class="col-md-10">
        <input ng-model="owp.desc" name="owpDesc" type="text" class="form-control" id="owpDescription" placeholder="Describe test here..." ng-minlength="3" ng-maxlength="30" required>
        <p ng-show="owpForm.owpDesc.$invalid && !owpForm.owpDesc.$pristine" class="help-block">Please describe test</p>
        <p ng-show="owpForm.owpDesc.$error.minlength" class="help-block">Description must be at least 3 characters</p>
        <p ng-show="owpForm.owpDesc.$error.maxlength" class="help-block">Description cannot exceed 30 characters</p>
    </div>
  </div>

  <!-- <div class="form-group row" ng-class="{ 'has-error' : owpForm.pTBT.$invalid && !owpForm.pTBT.$pristine }"> -->
    <!-- <label for="owpTBT" class="col-md-2 control-label">Time Between Tests</label> -->
    <!-- <div class="col-md-5"> -->
      <!-- <input ng-model="owp.tbtValue" name="pTBT" type="text" class="form-control" id="owpTBT" placeholder="Integer Value" required> -->
      <!-- <p ng-show="owpForm.pTBT.$invalid && !owpForm.pTBT.$pristine" class="help-block">Please enter a value for time</p> -->
    <!-- </div> -->
    <!-- <div class="col-md-5"> -->
      <!-- <select ng-model="owp.tbtType" ng-options="timeType.type for timeType in timeTypes" class="form-control" required></select> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row"> -->
    <!-- <label for="owpPacketsSent" class="col-md-2 control-label">Packets Sent Per Test</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="owp.packetsSent" name="pPacketsSent" type="text" class="form-control" id="owpPacketsSent" disabled> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : owpForm.pTBP.$invalid && !owpForm.pTBP.$pristine }"> -->
    <!-- <label for="owpTBP" class="col-md-2 control-label">Time Between Packets</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="owp.tbp" name="pTBP" type="text" class="form-control" id="owpTBP" placeholder="Time Between Packets (in seconds)" required> -->
      <!-- <p ng-show="owpForm.pTBP.$invalid && !owpForm.pTBP.$pristine" class="help-block">Please enter a value for time</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : owpForm.pPS.$invalid && !owpForm.pPS.$pristine }"> -->
    <!-- <label for="owpPacketSize" class="col-md-2 control-label">Size of Test Packets</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="owp.packetSize" name="pPS" type="text" class="form-control" id="owpPacketSize" placeholder="Size of Test Packets (in bytes)" required> -->
      <!-- <p ng-show="owpForm.pPS.$invalid && !owpForm.pPS.$pristine" class="help-block">Please enter a packet size</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="form-group row" ng-class="{ 'has-error' : owpForm.pReportMS.$invalid && !owpForm.pReportMS.$pristine }"> -->
    <!-- <label for="owpReportMS" class="col-md-2 control-label">Report to MS Every</label> -->
    <!-- <div class="col-md-10"> -->
      <!-- <input ng-model="owp.reportMS" name="pReportMS" type="text" class="form-control" id="owpReportMS" placeholder="Report to MS Every (collections)" required> -->
      <!-- <p ng-show="owpForm.pReportMS.$invalid && !owpForm.pReportMS.$pristine" class="help-block">Please enter a report value</p> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="form-group row" ng-class="{ 'has-error' : owpForm.owpTo.$invalid && !owpForm.owpTo.$pristine }">
    <label for="selectowpNode" class="col-md-2 control-label">Select a Node to Ping</label>
    <div class="col-md-10">
      <select ng-model="owp.to" name="owpTo" class="form-control" required>
        <option ng-repeat="node in nodes | unique:'id'"> {{ node.name }} </option>
      </select>
      <p ng-show="owpForm.owpTo.$invalid && !owpForm.owpTo.$pristine" class="help-block">Please select a node</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="owpSubmit(owp)" ng-disabled="owpForm.$invalid || owpUnchanged(owp)" class="btn btn-primary">Submit One-Way Ping Test</button>
      <button ng-click="owpReset()" class="btn btn-danger pull-right">Restore Defaults</button>
    </div>
  </div>

</form>
