<!-- <pre>eventTypeForm = {{event | json}}</pre> -->
<!-- <pre>eventData = {{eventData | json}}</pre> -->

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  <b>{{alert.msg}}</b>
</alert>

<form name="eventTypeForm" novalidate>

  <div class="form-group row" ng-class="{ 'has-error' : eventTypeForm.eType.$invalid && !eventTypeForm.eType.$pristine }">
    <label for="eType" class="col-md-2 control-label">Select Event Type</label>
    <div class="col-md-10">
      <select ng-model="event.type" name="eType" id="eType" class="form-control" multiple required>
        <option ng-repeat="event in measEventTypes"> {{ event }} </option>
      </select>
      <p ng-show="eventTypeForm.eType.$invalid && !eventTypeForm.eType.$pristine" class="help-block">Select Event Type</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="viewData(event)" ng-disabled="eventTypeForm.eType.$invalid" class="btn btn-primary">View Measurement Data</button>
    </div>
  </div>

</form>
